@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";

/* --background: #1b262c;
--foreground: #bbe1fa;
--surface: #0f4c75;
--accent: #3282b8; */

/* --background: #222831;
--foreground: #eeeeee;
--surface: #393e46;
--accent: #00adb5; */

:root {
	--background: #f9f7f7;
	--foreground: #112d4e;
	--surface: #dbe2ef;
	--accent: #3f72af;
}
@media (prefers-color-scheme: dark) {
	:root {
		--background: #222831;
		--foreground: #eeeeee;
		--surface: #393e46;
		--accent: #00adb5;
	}
}

.dark {
	--background: #222831 !important;
	--foreground: #eeeeee !important;
	--surface: #393e46 !important;
	--accent: #00adb5 !important;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-inter-sans);
	--color-accent: var(--accent);
	--color-surface: var(--surface);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: "Inter Variable", sans-serif;
}
